page-bhajan-video {

    .myvideo{
        width: 100%;
        height: 200px;
        margin-bottom: 15px;
    }

    .btncenter{
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
}
